*,body,html{
    margin:0px;
    padding:0px;
}
.col-md-6{
    padding:0px;
    margin-bottom:50px;
    box-shadow: 2px 2px 9px 0px #dadada;
    
}
.jumbotron{
    color:white;
    background-color:#12042c;
}
#create{
    padding:20px 0 20px 0;
    margin:10px 0 20px 0;
}
#login-bnt{
    width:200px;
    margin-top:10px;
    background-color:red;
    border:red;
}
.container-fluid {
    background-color: #180025;
    margin: 0px;
}
li {
    list-style: none;
    margin: 0px 5px 3px 0px;
    color: #f2f2f2;
  }
  
  .d-flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px;
    padding:0px;
  }
  
  .link-box {
    padding: 20px 0 0 0;
  }
  
  #logo {
    width: 30px;
    height: 30px;
  }

@media screen and (max-width:576px){
    #img{
        display:none;
    }
}
