*,body,html{
    margin:0px;
    padding:0px;
}
* {
    margin: 0px;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #2e2e2eda;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 3px 0px;
    font-family: 'Staatliches',
        cursive;
}

.logo h3 {
    margin: 0;
}
.logo a {
    text-decoration: none;
    color: white;
}
.nav-link-box ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 3px;
}

.navbar-toggle {
    position: absolute;
    top: 5px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
    display: none;
}

.nav-links li {
    list-style: none;
    margin: 10px;
}

.nav-links {
    padding: 3px 0px;
}

.nav-links a {
    text-decoration: none;
    color: #d5d5d5;
}

.nav-links a:hover {
    text-decoration: none;
    color: #d5d5d5;
}

.logo-hero {
    width: 50px;
    padding: 0 5px 0 0;
}

#toggle-icon {
    margin-bottom: 14px;
}
.jumbotron{
    color:white;
    background-color:#12042c;
    border-bottom: solid 3px black;
}
.jumbo-txt{
    padding-top:30px;
}
#create{
    padding:20px 0 20px 0;
    margin:10px 0 20px 0;
}
#login-bnt{
    width:200px;
    margin-top:10px;
    background-color:red;
    border:red;
}
.container-fluid {
    background-color: #180025;
    margin: 0px;
}
li {
    list-style: none;
    margin: 0px 5px 3px 0px;
    color: #f2f2f2;
  }
  .col-md-6{
      margin-bottom:0;
      padding:0;
      
  }
  .row{
      margin-bottom:50px;
  }
  .info-box{
    padding:20px 15px;
    box-shadow: 2px 2px 9px 0px #dadada;
  }
  
  .d-flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px;
    padding:0px;
  }
  
  .link-box {
    padding: 20px 0 0 0;
  }

  #logo {
    width: 30px;
    height: 30px;
  }
@media screen and (max-width:576px){
    #img{
        display:none;
    }
  .navbar-toggle {
      display: block;
      margin-left: 5px;
  }

  .logo {
      margin-right: 350px;
  }
  .row{
      padding-bottom:25px;
  }
  .nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
  }

  .nav-link-box ul {
      margin-right: 50px;
  }

  .nav-link-box {
      display: none;
  }

  .nav-links {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
  }

  .active {
      display: block;
  }
}
