@import '_variables';
*{
    margin:0px;
}
body{
  font-family: 'Source Sans Pro', sans-serif;
}

#icon {
    height:70px;
    width:70px;
  }
  .jumbotron{
   @include Background-img('../images/boxer-hero.jpg');
    height:100vh;
    color:#f6f6f6;
    padding:100px;
    letter-spacing:5px;
  }
  #demo{
    margin:0px;
  }
  .container-fluid{
    background-color:$primary-purple;
    margin:0px;
  }
  .carousel-inner img {
      width: 100%;
      height:85vh;
  }
  .img-box{
    text-align:center;
  }
  #perk-img{
    width:300px;
  }
  .newsletter-box{
    padding:30px;
  }
  form{
    margin-left:35%;
    padding-bottom:50px;
  }
  p{
    text-indent:.5rem;
    margin:0px;
  }
  h2{
     animation-delay:1.5s;
} 
  h1{
    animation-delay:2.5s;
  }
  h6,button{
    animation-delay:3s;
  }

  li{
    list-style:none;
    margin:0px 5px 3px 0px;
    color:#f2f2f2;
    
  }
  .d-flex{
    justify-content: center;
    padding:0px;
    margin:0px;
  }
  .link-box{
    padding:20px 0 0 0;
  }
  #logo{
    width:30px;
    height:30px;
   
  }
  @media screen and(max-width:1024px){
    .jumbotron{
      height:70vh;
    }
    .carousel-inner img{
      height:50vh;
    }
  }
  @media screen and (max-width:768px){
    .nav-item{
      border-bottom:solid #75757560 1px;
      padding:10px;
    }
    .jumbotron{
      height:500px;
      padding:60px;
     
    }
    .carousel-inner img{
        height:450px;
    }
    form{
      margin-left:25%;
      text-align:center;
    }
    .newsletter-box{
      padding:20px;
    }
}
    @media screen and (max-width:576px){
      .jumbotron{
        height:400px;
        padding:50px;
       
      }
      .carousel-inner img{
        height:350px;
      }
      form{
        margin-left:0px;
        button{
          margin-top:5px;
          
        }
      }
      .newsletter-box{
        padding:10px;
      }
      
    }

 