*{
    margin:0px;
    padding:0px;
   
}
body{
     font-family:'Source Sans Pro',
     sans-serif;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #2e2e2eda;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 3px 20px;
    font-family: 'Staatliches',
        cursive;
}

.logo h3 {
    margin: 0;
}

.nav-link-box ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 3px;
}

.navbar-toggle {
    position: absolute;
    top: 5px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
    display: none;
}

.nav-links li {
    list-style: none;
    margin: 10px;
}

.nav-links {
    padding: 3px 0px;
}

.nav-links a {
    text-decoration: none;
    color: #d5d5d5;
}

.nav-links a:hover {
    text-decoration: none;
    color: #d5d5d5;
}

.logo-hero {
    width: 50px;
    padding: 0 5px 0 0;
}

#toggle-icon {
    margin-bottom: 14px;
}

/**/
.jumbotron{
    margin:0px;
   color:rgb(255, 255, 255);
   background-image: url('https://www.debt.com/wp-content/uploads/2018/02/gym-couple-exercise.jpg');
   background-position: center fixed;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   height:85vh;
   background-color:#00000000;
}
.col-sm-4,.col-sm-8{
    padding:0px 5px 0 5px;
}
title{
    padding:50px 0 0 0;
}

.container-fluid {
    background-color: #180025;
    margin: 0px;
}
li {
    list-style: none;
    margin: 0px 5px 3px 0px;
    color: #f2f2f2;
  }
  
  .d-flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px;
    padding:0px;
  }
  
  .link-box {
    padding: 20px 0 0 0;
  }
  
  #logo {
    width: 30px;
    height: 30px;
  }
 
@media screen and (max-width:1024px){
    .jumbotron{
        height:50vh;
    }
    .title{
        font-size:60px
    }
}
@media screen and (max-width:976px){
    .title{
        font-size:45px
    }
}
@media screen and (max-width:768px){
    .nav-item{
        border-bottom:solid #75757560 1px;
      }
      .last-item{
        border:none;
      }
    .jumbotron{
        height:50vh;
    }
    .hero-text {
        position: relative;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .title{
        font-size:40px
    }
    
}
@media screen and (max-width:576px){
    
    .title{
        font-size:30px
    }
    .jumbotron{
        height:45vh;
    }
      .navbar-toggle {
          display: block;
          margin-left: 5px;
      }

      .logo {
          margin-right: 350px;
      }

      .nav {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
      }

      .nav-link-box ul {
          margin-right: 50px;
      }

      .nav-link-box {
          display: none;
      }

      .nav-links {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
      }

      .active {
          display: block;
      }

      /**/
   
}
@media screen and(max-width:320px){
    .title{
        font-size:20px
    }
}
