html,body {
     margin: 0;
     padding: 0;
 }
 *{
     margin: 0px;
 }

 .nav {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     padding: 0 15px;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     background-color: #2e2e2e;
     position: fixed;
     top: 0;
     width: 100%;
     z-index: 1;
 }

 .logo {
     -webkit-box-flex: 1;
     -ms-flex: 1;
     flex: 1;
     padding: 3px 0px;
     font-family: 'Staatliches',
         cursive;
 }

 .logo h3 {
     margin: 0;
 }
.logo a {
    text-decoration: none;
    color: white;
}
 .nav-link-box ul {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     margin-bottom: 3px;
 }

 .navbar-toggle {
     position: absolute;
     top: 5px;
     right: 20px;
     cursor: pointer;
     color: rgba(255, 255, 255, 0.8);
     font-size: 24px;
     display: none;
 }

 .nav-links li {
     list-style: none;
     margin: 10px;
 }

 .nav-links {
     padding: 3px 0px;
 }

 .nav-links a {
     text-decoration: none;
     color: #d5d5d5;
 }

 .nav-links a:hover {
     text-decoration: none;
     color: #d5d5d5;
 }

 .logo-hero {
     width: 50px;
     padding: 0 5px 0 0;
 }

 #toggle-icon {
     margin-bottom: 14px;
 }

  #map {
    height:85vh;
    margin-bottom:10px;
  }
  .locate-sec{
    width:90%;
    margin-left:0px;
}
.search-bnt{
    color:#f2f2f2;
    background-color:#dd2525;
    padding:4px;
    border:solid #1b1b1b 1px;
}
.locate-txt{
    color:#f2f2f2;
    padding-top:20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.locate-txt h1{
    margin-bottom:0;
}
.locate-txt h6{
    margin-bottom:15px;
}
.address-box{
    background-color:white;
    padding:10px 20px 50px 10px;
    color:black;
    border:1px solid #ffffff;
    box-shadow: 2px 2px 9px 2px #d1d1d1;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px; 
}
.address-box img{
    width:12px;
}
.address-txt{
    color:#707070
}
#search-box{
    margin-bottom:20px;
}
#output-sec{
    height:80vh;
    overflow: scroll;
    margin:15px;
    width:100%;
    display:none;
}
.area-txt{
    color:#440044;
}
.notice-txt{
    font-size:14px;
    margin:0;
    padding: 5px 20px;
}
#near-by{
     padding: 3px 20px;
     display:none;
}
.join-bnt{
    float:right;
    color:white;
    background-color:#a321a3;
    padding:5px;
    border: solid 1px;
    border-radius: 3px;
}


.container-fluid {
    background-color: #180025;
    margin: 0px;
}

li {
    list-style: none;
    margin: 0px 5px 3px 0px;
    color: #f2f2f2;
}

.d-flex {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.link-box {
    padding: 20px 0 0 0;
}
.row{
    margin:0;
}
#logo {
    width: 30px;
    height: 30px;
}
@media screen and (max-width:768px){
    #map {
        margin-top: 0px;
    }
    .locate-sec{
        padding-top:10px;
    }
    .col-md-8{
        margin:0 25px;
    }
}
 @media screen and (max-width:576px){
       .navbar-toggle {
           display: block;
        
       }
       #output-sec{
             margin:30px 20px;
       }
       .logo {
           margin-right: 350px;
       }

       .nav {
           -webkit-box-orient: vertical;
           -webkit-box-direction: normal;
           -ms-flex-direction: column;
           flex-direction: column; 
       }

       .nav-link-box ul {
           margin-right: 50px;
       }

       .nav-link-box {
           display: none;
       }

       .nav-links {
           -webkit-box-orient: vertical;
           -webkit-box-direction: normal;
           -ms-flex-direction: column;
           flex-direction: column;
       }
       .active {
           display: block;
       }
       #map{
           margin:0px 25px 25px;
       }
  
 }