body{
    font-family:'Source Sans Pro';
}
* {
    margin: 0px;
}
.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #2e2e2eda;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 3px 0px;
    font-family: 'Staatliches',
        cursive;
}
.logo h3 {
    margin: 0;
}
.logo a {
    text-decoration: none;
    color: white;
}
.nav-link-box ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 3px;
}

.navbar-toggle {
    position: absolute;
    top: 5px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
    display: none;
}

.nav-links li {
    list-style: none;
    margin: 10px;
}

.nav-links {
    padding: 3px 0px;
}

.nav-links a {
    text-decoration: none;
    color: #d5d5d5;
}

.nav-links a:hover {
    text-decoration: none;
    color: #d5d5d5;
}

.logo-hero {
    width: 50px;
    padding: 0 5px 0 0;
}

#toggle-icon {
    margin-bottom: 14px;
    width:28px;
}

/**/
.jumbotron{
    margin:0px;
    background-image: url('https://content.nike.com/content/dam/one-nike/en_lu/SP17/Training/0201_MT_P1_Romaleos_3_Desktop.jpg.transform/full-screen/0201_MT_P1_Romaleos_3_Desktop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:70vh;
    color:#ffffff;
}
.container-fluid {
    background-color: #180025;
    margin: 0px;
}
.title{
    padding-top:25px;
}
.img-box,.img-box-2,.img-box-3,.img-box-4{
    position:relative;
    overflow: hidden;
    height:400px;
    width:100%;
}
.col-md-6{
    padding:0px;
}

.img-box:hover .text-box{
    left:0;
}
.img-box-2:hover .text-box-2{
    left:0;
}
.img-box-3:hover .text-box-3{
    left:0;
}
.img-box-4:hover .text-box-4{
    left:0;
}
img{
    width:100%;
    height:100%;
    transition:0.5s;
}
.text-box,.text-box-4 {
    position: absolute;
    left:-100%;
    top:0%;
    width:100%;
    height:100%;
    background: rgba(245, 51, 51, 0.705);
    transition:.5s;
    padding:20px;
    color:#f2f2f2;
}
.text-box-2,.text-box-3 {
    position: absolute;
    left:-100%;
    top:0;
    width:100%;
    height:100%;
    background: rgba(46, 46, 46, 0.698);
    transition:.5s;
    padding:20px;
    color:#f2f2f2;
}
button{
    margin:5px;
}
.container-fluid {
    background-color: #180025;
    margin: 0px;
}

li {
    list-style: none;
    margin: 0px 5px 3px 0px;
    color: #f2f2f2;
  }
  
  .d-flex {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0px;
    padding:0px;
  }
  
  .link-box {
    padding: 20px 0 0 0;
  }
  .slide-bnt{
      background-color:red;
      border:none;
      border-radius: 0%;
  }
  #logo {
    width: 30px;
    height: 30px;
  }
 
@media screen and (max-width:1024px){
    .jumbotron{
        height:40vh;
    }
    .title{
        font-size:50px
    }
    .text-box,.text-box-4,.text-box-2,.text-box-3{
        left:0%;
    }
}
@media screen and (max-width:976px){
    .title{
        font-size:45px
    }
}
@media screen and (max-width:768px){
    .nav-item{
       border-bottom:1px solid  #75757560;
      }
      .last-item{
          border-bottom:none;
      }
    .jumbotron{
        height:40vh;
    }

}
@media screen and (max-width:576px){
 
    .jumbotron{
        height:45vh;
    }
    .img{
        text-align:center;
    }
    #gold-icon{
        width: 60%;
        margin-bottom:10px;
    }
    h2{
        text-align:center;
    }
    .title{
        padding-top:50px
    }
      .navbar-toggle {
          display: block;
          margin-left: 5px;
      }

      .logo {
          margin-right: 350px;
      }

      .nav {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
      }

      .nav-link-box ul {
          margin-right:65px;
      }

      .nav-link-box {
          display: none;
      }

      .nav-links {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
      }

      .active {
          display: block;
      }

      /**/
}   
@media screen and(max-width:320px){
    .title{
        font-size:20px
    }
      .nav-link-box ul {
          margin-right: 120px;
      }
}